@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  scroll-behavior: smooth;
}

h1,p, ul, h2, li, a {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.space {
  height: 100px;
}

html, body {
  height: 100%;
  background-color: #FAF2E9;
  margin: 0px;
  padding: 0px;
}

header{
  padding: 0px;
  margin: 0px;
  background:  no-repeat;
  background-image: url("../images/ingénieur.jpg");
  background-size: 100%;
  height: 100%;
  width: 100%;
}

header h1 {
  margin-left: 5vh;
  color: #afff99;
  letter-spacing: 15px;
  text-align: start;
}

header p {
  font-family: 'Oswald', sans-serif;
  -webkit-text-stroke: 1px black;
  margin: 0% 40% 10% 5%;
  padding: 0px;
  padding-top: 10%;
  font-size: 2.5em;
  color: #ffffff;
  text-align: justify;
}

header a{
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.decouvrez-moi p{
  font-size: 3vh;
  color: black;
  margin: 0px;
  padding: 1vh 2vh;
}

.decouvrez-moi{
  margin: 10% 0% 10% 5%;
  background-color: #e0fe9c;
  padding: 1% 2% 1% 2%;
  align-items: center;
  width: 50vh;
  display: flex;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
}

main{
  background-color: black;
  color: wheat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main section{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
main h2{
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 9vh;
  margin-left: 5vh;
}
main p{
  text-align: start;
  font-size: 3vh;
}
main a{
  color: wheat;
}
table{
  height: 30vh;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  color: black;
}

#pas-affiche{
  display: none;
}



nav{
  height: 110vh;
  background-color: #ffffff;
  
}
nav h2{
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 10vh;
  margin-left: 5vh;
}

.actions{
  display: flex;
  justify-content: space-around;
}

.actions img{
  width: 60vh;
  border-radius: 3vh;
  margin: 1vh;
}

.actions h3{
  text-align: center;
}

#formations, #interventions {
  color: black;
  text-decoration: none;
  font-size: 5vh;
  border: solid black 1vh;
  border-radius: 3vh;
  padding: 1vh;
}
#formations:hover, #interventions:hover{
  background-color: black;
  color: white;
}

footer{
  height: 100vh;
  background-color: black;
  color: white;
}

footer h2{
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 10vh;
  margin-left: 5vh;
  color: white;
}

footer .rdv{
  color: black;
}

footer li{
  text-align: left;
  padding-left: 15vh;
}



li{
  display: flex;
  margin: 5vh;
  font-size: 5vh;
}

ul{
  padding-top: 10vh;
}

footer a{
  text-decoration: none;
  color: white;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}